{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/styles.css') }}">
{% endblock %}

{% block logo %}
    {% spaceless %}
    <a class="logo" href="{{ url('sonata_admin_dashboard') }}">
        <img src="{{ asset('bundles/app/images/logo.png') }}" alt="{{ admin_pool.title }}">
    </a>
    {% endspaceless %}
{% endblock %}

{% block sonata_top_nav_menu %}
    <div class="navbar-right">
        <ul class="nav navbar-nav">
            <li class="dropdown user-menu">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}

{% block side_bar_after_nav %}
    <ul>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <li><a href="{{ path('admin_app_user_list') }}">User Management</a></li>
        {% endif %}
        <li><a href="{{ path('admin_app_user_show', {'id' : app.user.id}) }}">My Profile</a></li>
    </ul>
{% endblock %}
