{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/styles.css') }}">
{% endblock %}

{% block logo %}
    {% spaceless %}
    <a class="logo" href="{{ url('sonata_admin_dashboard') }}">
        <img src="{{ asset('bundles/app/images/logo.png') }}" alt="{{ admin_pool.title }}">
    </a>
    {% endspaceless %}
{% endblock %}

{% set urlPrefix = (app.environment == 'dev') ? '/app_dev.php/' : '/' %}

{% block javascripts %}
    {{ parent() }}
    <script>
    $(function() {
        // select the box based on locale
        $('#lang').val('{{ app.request.getLocale() }}');
        // redirect user if user change locale
        $('#lang').change(function() {
            window.location='{{ urlPrefix }}'+$(this).val()+'/locale';
        });
    });
    </script>
{% endblock %}

{% block sonata_top_nav_menu %}
    <div class="navbar-right">
        <div class="nav navbar-nav topmenu">        
            <select id="lang" name="lang">
                {% for lang in supported_lang %}
                    <option value="{{ lang }}">{{ lang }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="nav navbar-nav topmenu">
            <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
        </div>     
    </div>
{% endblock %}

{% block side_bar_after_nav %}
    <ul>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <li><a href="{{ path('admin_app_user_list') }}">{{ 'admin.link.user_management' | trans({}, 'app') }}</a></li>
        {% endif %}
        <li><a href="{{ path('admin_app_user_show', {'id' : app.user.id}) }}">{{ 'admin.link.my_profile' | trans({}, 'app') }}</a></li>
    </ul>
{% endblock %}
